<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Market Place</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <div class='main'>
            <div class='all'>
                {% for acct in accts %}
                <h3>{{acct.typeName}}</h3>
                {% endfor %}
            </div>
            <form action='/createAcct/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='typeName'>Acct Type</label>
                    <input name='typeName' id='typeName' type='text'>
                </section>
                <button>Submit</button>
            </form>
        </div>
    </header>
    <footer>
        <a href='accts/'><img src="{% static 'images/Capture.PNG' %}" /></a>
        <a href='admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
</body>
</html>