<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{editProd.itemName}}</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h3>{{editProd.itemName}}</h3>
        <nav>
            <a href='/logout/'>Log Out</a>
            <a href='/dashboard/'>Dashboard</a>
            <a href='/shop/'>Shops</a>
            <a href='/category/'>Categories</a>
            <a href='/product/'>Products</a>
        </nav>
    </header>
    <div class='main'>
        <form action='/product/{{editProd.id}}/updateProd/' method='post'>
            {% csrf_token %}
            <section>
                <label for='itemName'>Product Name: </label>
                <input type='text' name='itemName' id='itemName' value='{{editProd.itemName}}'>
            </section>
            <section>
                <label for='itemDescription'>Product Description: </label>
                <textarea name='itemDescription' id='itemDescription' value='{{editProd.itemDescription}}'>{{editProd.itemDescription}}</textarea>
            </section>
            <section>
                <label for='itemPrice'>Price: </label>
                <input type='text' name='itemPrice' id='itemPrice' value='{{editProd.itemPrice}}'>
            </section>
            <section>
                <label for='itemImg'>Link to Product Image: </label>
                <input type='text' name='itemImg' id='itemImg' value='{{editProd.itemImg}}'>
            </section>
            <section>
                <label for='itemCount'># of available products: </label>
                <input type='number' name='itemCount' id='itemCount' value='{{editProd.itemCount}}'>
            </section>
            <section style="display: none;">
                <label for='user'>Shop Owner: {{user.firstName}} {{user.lastName}}</label>
                <input type='text' name='theOwner' id='theOwner' value='{{user.id}}'>
            </section>
            <section>
                <label for='shop'>Chose the Shop:</label>
                <select name='shop'>
                    {% for shop in user.shops.all %}
                    <option value='{{shop.id}}'>{{shop.shopName}}</option>
                    {% endfor %}
                </select>
            </section>
            <button>Update Product</button>
        </form>
    </div>
</body>
</html>