<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{editProd.itemName}}</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h3>{{editProd.itemName}}</h3>
        <nav>
            <a href='/logout/'>Log Out</a>
            <a href='/dashboard/'>Dashboard</a>
            <a href='/shop/'>Shops</a>
            <a href='/category/'>Categories</a>
            <a href='/product/'>Products</a>
        </nav>
    </header>
    <div class='main'>
        <div class='update'>
            <button class='shopAddShopForm'>Click to assign to your Shop</button>
            <div class='addShopForm'>
                <form action='/product/{{editProd.id}}/assignShop/' method='post'>
                    {% csrf_token %}
                    <label for='shop_id'>Chose the Shop: </label>
                    <select name='shop_id'>
                        {% for shop in ownerShops %}
                            <option value='{{shop.id}}'>{{shop.shopName}}</option>
                        {% endfor %}
                    </select>
                    <button>Add Shop</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>