<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/honeycomb.png' %}"/>
</head>
<body>
    <header>
        <h3>The Crafts Market Place Categories</h3>
        <nav>
            <a href='/logout/'>Log Out</a>
            <a href='/dashboard/'>Dashboard</a>
            <a href='/shop/'>Shops</a>
            <a href='/category/'>Categories</a>
            <a href='/product/'>Products</a>
        </nav>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </header>
    <div class='main'>
        <div class='add'>
            <button class='showCatForm'>Click to add a New Category</button>
            <div class='catForm'>
                <form action='/category/createCat/' method='post'>
                    {% csrf_token %}
                    <section>
                        <label for='catName'>Category: </label>
                        <input type='text' name='catName' id='catName'>
                    </section>
                    <section style="display: none;">
                        <label for='theUser'>Shop Owner: {{user.firstName}} {{user.lastName}}</label>
                        <input type='text' name='theUser' id='theUser' value='{{user.id}}'>
                    </section>
                    <button>Submit Category</button>
                </form>
            </div>
        </div>
        <h4>All Categories are available to be used by any Shop Owner, however only the Admin can edit or delete</h4>
        <div class='all'>
            {% for user in users %}
            <div class='one'>
                <h3>{{user.firstName}}'s Categories</h3>
                {% for cat in user.categories.all %}
                    <p>{{cat.catName}}</p>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        {% for foot in footer %}
        <p>{{foot}}</p>
        {% endfor %}
        <a href='/admin/'><img src="{% static 'images/Capture.PNG' %}" /></a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>